<h1>All entries</h1>

<div id="chart1">
	<svg></svg>
</div>



<script src="/d3.v2.min.js"></script>
<script src="/nv.d3.min.js"></script>
<script src="/nvd3_src/tooltip.js"></script>
<script src="/nvd3_src/utils.js"></script>
<script src="/nvd3_src/models/legend.js"></script>
<script src="/nvd3_src/models/axis.js"></script>
<script src="/nvd3_src/models/scatter.js"></script>
<script src="/nvd3_src/models/line.js"></script>
<script src="/nvd3_src/models/lineChart.js"></script>
<script></script>

<script>
var chart;
var data = [
	{
		"key": "Shower times",
		"values": <%= @shower_time %>
	}
]

nv.addGraph(function() {
  chart = nv.models.lineChart();

  chart
	.x(function(d) { return d[0] })
	.y(function(d) { return d[1] });


  chart.xAxis
    .tickFormat(function(d) { return d3.time.format('%x')(new Date(d)) });

  chart.yAxis
      .axisLabel('Voltage (v)')
      .tickFormat(d3.format(',.2f'));

  d3.select('#chart1 svg')
      .datum(data)
    .transition().duration(500)
      .call(chart);

  nv.utils.windowResize(chart.update);

  chart.dispatch.on('stateChange', function(e) { nv.log('New State:', JSON.stringify(e)); });

  return chart;
});



	// var data = <%= @shower_time %>;
	// var chart;

	// nv.addGraph(function() {
	//   var chart = nv.models.lineChart()
	//   	.x(function(d) { return d[0] })
	//   	.y(function(d) { return d[1] });

	//   chart.xAxis
	//       .showMaxMin(false)
	//       .tickFormat(function(d) { return d3.time.format('%x')(new Date(d)) });

	//   chart.yAxis
	//       .tickFormat(d3.format(',.2f'));

	//   d3.select('#chart svg')
	//       .datum(data)
	//     .transition().duration(500)
	//       .call(chart);

	//   nv.utils.windowResize(chart.update);

	//   return chart;
	// });
</script>