<header>
	<h1>#ECunplugged</h1>
	<p><strong>A competition to reduce energy usage at Emerson College.</strong></p>
</header>

<div class="row">
	<div class="span6">
		<h2>Piano Row, floor 3</h2>
		<div class="usages">
			<div class="usage">
				<div class="usage_num">30W</div>
				<div class="usage_label">average approximate wattage</div>
			</div>
			<div class="usage">
				<div class="usage_num">5</div>
				<div class="usage_label">average recycled items</div>
			</div>
		</div>

	</div>
	<div class="span6">
		<h2>Little Building, floor 5</h2>
		<div class="usage">
			<div class="usage_num">30W</div>
			<div class="usage_label">average approximate wattage</div>
		</div>
		<div class="usage">
			<div class="usage_num">5</div>
			<div class="usage_label">average recycled items</div>
		</div>
	</div>
</div>