<!doctype html>
<html lang="en">
<head>
	    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>

	<p>Hi <%= @name %>,</p>
	<h3>This is your reminder to fill out the <%= link_to "energy competition survey", @url %> today.</h3>
	<p>Please fill it out before midnight. If you have any questions, email catalani.ryan@gmail.com.</p>
	<p>Thanks, <br>Ryan, Elvin, and Jacob</p>

</body>
</html>